@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* root elements of html is html tag or root suedoclass  */

/* ##################### html element styling ###################### */

html{
    /* font-size: 10px;  write this in % as it dynamically modifies font sizes based on browser setting */
    font-size: 62.5%;
    /* equal to 10 px */
}

body{
    font-family: "Montserrat", sans-serif;  
    line-height: 1.7;
}

ul li{
    list-style: none;
}
a{
    font-size: 1.6rem;
    text-decoration: none;
}

p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}


h1, h2, h3 {
    margin-bottom: o.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}


.address-group p {
    margin-left: 1.4rem;
}

/* ###################### UTILITY CLASSES ########################### */

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.lg-heading{
    font-size: 3.5rem;
}

.mb-heading{
    font-size: 2.2 rem;
}

.text-red{
    color:#e63946;
}

.text-light{
    color:#f4f4f4;
}

.text-black{
    color:#333333;
}


.text-grey{
    color:#555555;
}


.btn{
    display: inline-block;
    padding:0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
}

.btn-primary{
    background-color: #fff;
    border-radius: 10em;
}

.btn-secondary{
    background: #fff;
    border: 2px solid #e63946;
    border-radius: 1.5em; 
    color: #e63946;

}

.btn-primary:hover{
    background-color: #ddd;
}

.btn-secondary:hover{
    background-color: #fcf3f2;
}

/* ~~~~~~~~~~~~~~ about page ~~~~~~~~~~~~~~  */
.bg-dark{
    background-color: #263238;
}


/* ######################### header styling ##################### */

.header{
    height: 95vh;
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)    ), url(Img/pexels-matt-thomas-1628058-3117955.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.navbar{
    padding: 1rem;
}

.navbar .logo{
    font-size: 3.5rem;
    float: left;
}
.navbar .nav-items{
    float: right;
    margin-top: 1rem;
}
/* Column ko row kr dia -_- */
.navbar .nav-item{
    display: inline;
    padding: 1rem;
    text-transform: uppercase;
}

.navbar a:link,
.navbar a:visited{
    color:#f4f4f4f4;
}

.navbar a{
    padding: 0.3rem;
}

.navbar a:hover{
    border-bottom: 1px solid #fff;
}

/* Clearing float */
.navbar::after{  
    content: "";
    display: block;
    clear: both;
    }


/* #################### header content styling ###################### */
/* center karna hai too -> jisko center karna  h usko absolute kr do aur jiske respenct me center me karna hai usko relative position dedo  */
.header-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    background: linear-gradient(rgba(0,0,0,0.2) rgba(0,0,0,0.2));
    text-align: center;
}


.header-content h1{
    text-transform: uppercase;
    font-weight: 700;

}

.header-content p{
    text-transform: uppercase;
}


/* #################### Showcase Section Styling ###################### */
.showcase{
    background: #ddd;
    padding: 10rem 0;
}

.row{
    height: 350px;
    /* border: 2px solid red; */
    background:#fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.305);
}
.row1{
    margin-bottom: 10rem;
}

.row1 .img-box, .row2 .text-box{
    float: left;
    width: 50%;
}

.row1 .text-box, .row2 .img-box {
    float: right;
    width: 50%;

}

.row .text-box{
    /* border: 2px solid green; */
    height: 100%;
    padding: 3rem;

}

.row .img-box{
    /* border: 2px solid yellow; */
    height: 100%;
}

.row .img-box img{
    display: inline-block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.row::after{
    content: '';
    display: block;
    clear: both;
}


/* ###################### feature section styling #################### */
.features{
    padding: 10rem 0;
}
.box-wrapper{
    box-shadow: 5px 5px 20px  rgba(102,102,102, .55);
    /* border: 2px solid green; */
    }
    
.box{
    width: 33.33%;
    float: left;
    /* border: 2px solid black; */
    padding: 2rem;
    text-align: center;
}

.box-wrapper::after{
    content:'';
    display: block;
    clear: both;
}

.box-1, .box-3{
    background-color: #263238;
    color: #fff;
}

.box-2{
    color: #fff;
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
}

/* #################### footer ############### */

.footer{
    background-color: #263238;  
    color: #f4f4f4; 
    padding: 2rem;
    text-align: center;
}
.social-media-links i{
    margin: 1.7rem;
}

/* #################### About Page Styling ############### */

.about{
    padding:5rem 0;
}

.about-heading{
    margin-bottom:2rem ;
}

.about-heading::after{
    content:'';
    display: block;
    border: 3px solid #e63946;
    /* 3 px border will actually cause 6px line (3 top + 3 bottom) */
    width: 100%;
}

/* #################### About Wrapper Styling ############### */
.about-wrapper{
    /* border: 2px solid black; */
    text-align: center;
    margin-top: 2rem;
}


.about-wrapper .left{
    float:left;
    width: 50%;
    text-align: left;

}
.about-wrapper .right{
    float:left;
    width: 50%;
    text-align: left;
}

.about-wrapper::after{
    content:'';
    display: block;
    clear: both;
}

.about-wrapper li::before{
    content:'\2713';
    color: #e63946;
    font-weight: bold;
    padding: 1rem;
}


/* #################### Count Styling ############### */
.counts{
    margin-top: 3rem;
    /* border: 6px solid black; */
}
.count-items{
    /* border: 3px solid red; */
    width: 25%;
    float: left;
    text-align: center;
}

.count-items span{
    font-size: 3rem;
    font-weight: 700;
    color: #e63946;
}

.count-items p{
    font-size: 1.8rem;
    font-weight: 700;
    color: #555;
}


.counts::after{
    content:'';
    display: block;
    clear: both;
}


/* #################### Banner Styling ############### */
.cta-banner{
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
    color: #f4f4f4;
    padding: 1rem;
    box-shadow: 5px 5px 10px #00000057;
    margin-top: 3rem;
}

.cta-banner-left{
    width: 60%;
    float: left;
}

.cta-banner-right{
    width: 40%;
    float: right;
    text-align: right;
}
.cta-banner::after{
    content:'';
    display: block;
    clear: both;
}

.cta-line{
    font-weight: 700;
    font-size: 2rem;
    margin-top: 1.5rem;
}
.btn-cta{
    text-align: center;
    color: white;
    
    font-size: 3rem;
    font-weight: 700;
    padding: 0.3em 2.5em;
    letter-spacing: 0.5rem;
    display: inline-block;
    border: 4px solid white ;
}

/* #################### Banner Styling ############### */
.contact-form{
    padding:5rem 0;
    background-color: #f7f7f7;
}

.form-wrapper .company-address{
    height: 700px;

    background-color: #fff;
    float:left;
    width: 49%;
    padding: 1rem;
}
    

.form-wrapper::after{
    content: '';
    display: block;
    clear: both;    
}

.form-wrapper i{
    display: inline-block;
    margin-right: 1rem ;
}

.form-wrapper h2{
    display: inline-block;
    text-transform: uppercase;
}

.form-wrapper .address-group{
    margin-bottom: 3rem;

}

.form-wrapper .company-address img{
    max-width: 90%;
    min-height: 30rem;
    object-fit:  cover;
    object-position: right;
    
}

/* #################### Form Styling ############### */

.form-wrapper .form{
    height: 700px;
    font-size: 1.6rem;
    background-color: #fff;

    float: right;
    width: 49%;   
    padding: 1rem;     
}
.form h1::after{
    content:'';
    display: block;
    border: 3px solid #e63946;
    width: 100%;
}

.form-wrapper .form label{
    display: block;
}

.form-wrapper .form input{
    padding: 0.5rem;
    width: 100%;
}

.form-wrapper .form .form-group{
    margin-bottom: 1.2rem;
}

.form-wrapper .form label::after{
    content:'* ';
    color: #e63946;
}

.form-wrapper .form textarea{
    width: 100%;
    padding: 1rem;
    height: 200px;
}

.form-btn{
    display: block;
    margin: 0 auto;
    padding: 0.5em 3em;
    font-size: 1.8rem;
    text-transform: uppercase;
    background: #e63946;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}



/* ###################### MEDIA QUERIES ###################### */
@media (max-width:500px){

html{
    font-size: 50%;
}

.navbar .logo, .navbar .nav-items{
    float: none;
    display: block;
    width: 100%;
    text-align: center;
}

.header-content .main-heading{
    display: none;
}

.row{
    height: auto;
    width: 100%;
}

.row .img-box, .row .text-box{
    float: none;
    width: 100%;
    text-align: center;

}
.features .box{
    float: none;
    width: 100%;
    text-align: center;
    box-shadow: 5px 5px 20px  rgba(102,102,102, .55);
}
.features .box-2, .features .box-3{
    margin-top: 5rem;
}
.box-wrapper{
    box-shadow: none;
}

.cta-banner-left, .cta-banner-right{
    float: none;
    width: 100%;
    text-align: center;
}
.about-wrapper .left, .about-wrapper .right{
    float: none;
    width: 100%;
    text-align: justify;
}
.form-wrapper .company-address, .form-wrapper .form{
    float: none;
    width: 100%;
    height: auto;
} 
.form-wrapper .company-address{
    margin-bottom: 5rem;
}
}

@media (min-width:501px) and (max-width:768px){
    
    html{
        font-size:  8px;
    }
    p{
        font-size: 1.8rem;
    }
    .navbar .logo, .navbar .nav-items{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
  
    .row{
        height: auto;
        width: 100%;
    }
    
    .row .img-box, .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    
    }
    .features .box{
        float: none;
        width: 100%;
        text-align: center;
        box-shadow: 5px 5px 20px  rgba(102,102,102, .55);
    }
    .features .box-2, .features .box-3{
        margin-top: 5rem;
    }
    .box-wrapper{
        box-shadow: none;
    }
    
    .cta-banner-left, .cta-banner-right{
        float: none;
        width: 100%;
        text-align: center;
    }
    .about-wrapper .left, .about-wrapper .right{
        float: none;
        width: 100%;
        text-align: justify;
    }
    .form-wrapper .company-address, .form-wrapper .form{
        float: none;
        width: 100%;
        height: auto;
    } 
    .form-wrapper .company-address{
        margin-bottom: 5rem;
    }

}

@media (min-width:769px) and (max-width:1200px){
    html{
        font-size: 54.25%;
        /* font-size: 56.25%; */
    }
    .container .row .text-box{
        font-size: 1.2rem;
        font-weight: 500;
    }
}

@media(orientation:landscape) and (max-height:500px){
    .header{
        height: 90vmax;
    }
}
